.main {
  justify-self: center;
  margin: 0 auto;
  width: 65%;
  padding-top: 50px;
}

.side-panel-holder {
  /* border: red dotted 2pt; */
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.side-panel {
  /* border: blue dotted 1pt; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side-button {
  margin: 15px 1px 15px 1px;
}
