<div class="side-panel-holder">
  <div class="side-panel">
    <a class="side-button" (click)="slideToElement('Learn01')">go to learn01</a>
    <a class="side-button" (click)="slideToElement('Learn02')">go to learn02</a>
    <a class="side-button" (click)="slideToElement('Learn03')">go to learn03</a>
  </div>
</div>

<div class="main">
  <h3 id="Learn01">01 Introduction</h3>
  <p>
    W starożytnym Egipcie używano zielonego barwnika do malowania brwi. Zielony
    kolor był pierwszym uzyskanym syntetycznie, wytwarzanym przez człowieka –
    produkowali go starożytni Grecy.
  </p>
  <h3 id="Learn02">02 Anagrams</h3>
  <p>
    W średniowieczu zieleń uważano za kolor symbolizujący katastrofę i zło, była
    kojarzona z samym diabłem. Istniał nawet przesąd, że ubieranie się na
    zielono może ściągnąć złe moce i pecha. Niektóre negatywne znaczenia
    przetrwały w zmienionej formie do dziś – jaskrawa zieleń kojarzy się z
    trucizną, zaś blada, zmieszana z niewielką ilością błękitu lub szarości – z
    chorobą.
  </p>
  <h3 id="Learn03">03 First Letters</h3>
  <p>
    Z biegiem czasu zielony zdobywał coraz lepszą reputację i przestał się
    kojarzyć ze złem, stał się natomiast symbolem losu i przypadkowości –
    zarówno w ich dobrych, jak i złych aspektach.
  </p>
  <h3>Middle or Last Letters</h3>
  <p>
    Zieleń to ważny kolor islamu. Ulubionym kolorem Mahometa był właśnie
    zielony. Znajduje się on na wielu flagach krajów islamskich, często podłogi
    w meczetach są tej barwy, zaś w Koranie znajduje się opis Raju i wizji
    zbawienia: „Będzie nosił szatę z zielonego jedwabiu”.
  </p>
  <h3>Double Meaning</h3>
  <p>
    Zieleń kojarzy się z przede wszystkim z życiem, harmonią, naturą i bliskim
    kontaktem z nią. Stanowi kolor uzdrowienia, nadziei i wolności. Odcienie
    zmieszanej z barwą błękitną („miętowej”) zieleni kojarzą się ze świeżością,
    powodzeniem i zadowoleniem.
  </p>
  <h3>Word Inside Word</h3>
  <p>
    W niektórych okolicznościach zieleń może się kojarzyć z niestabilnością,
    niepewnością i losowością, odnosi się to głównie do miłości, nadziei,
    młodości, czy gier. Stoły w kasynach niemal od zawsze były zielone, podobnie
    jak stoły bilardowe, stoły do tenisa, czy boiska piłkarskie. Zielony kojarzy
    się także z pieniędzmi.
  </p>
</div>
