<div class="navbar">
  <div class="navLeftHolder">
    <img
      (mouseover)="makeElementSelected('logo', true)"
      (mouseout)="makeElementSelected('logo', false)"
      class="logo"
      src="{{
        logoRotate.value
          ? '../../assets/CrossCroc logo1.png'
          : '../../assets/CrossCroc logo1 reverse.png'
      }}"
    />
    <img
      class="titleGraphic"
      src="{{
        isMobile
          ? '../../assets/CrossCroc title1 iceberg tall.png'
          : '../../assets/CrossCroc title1 iceberg.png'
      }}"
    />
  </div>

  <div class="navRightHolder">
    <a class="navButton" routerLink="/make">
      <img
        [src]="
          currentUrl === '/make' || currentUrl === '/'
            ? '../../assets/square0.png'
            : '../../assets/square1.png'
        "
        class="navButtonImage"
      />
      <p class="navButtonText">Make</p>
    </a>

    <a class="navButton" routerLink="/play">
      <img
        [src]="
          currentUrl === '/play'
            ? '../../assets/square0.png'
            : '../../assets/square2.png'
        "
        class="navButtonImage"
      />
      <p class="navButtonText">Play</p>
    </a>

    <a
      class="navButton"
      [href]="'mailto:c.matus.contact@gmail.com?subject=Crossword Feedback'"
    >
      <img
        [src]="
          currentUrl === '/mail'
            ? '../../assets/square0.png'
            : '../../assets/square3.png'
        "
        class="navButtonImage"
      />
      <p class="navButtonText">Mail</p>
    </a>
  </div>
</div>
