.navbar {
  /* background-color: var(--rich-green); */
  background-color: var(--actual-panel-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
  margin-top: -1px;
}

.navRightHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: black dotted 2pt; */
  width: 250px;
  /* border: yellow solid 1pt; */
  height: 60px;
}

.navButton {
  opacity: 0.8;
  color: black;
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  /* background-color: fuchsia; */
}

.navButtonText {
  margin: 0px;
}

.navButtonImage {
  height: 25px;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

.titleGraphic {
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
}

.logo {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 50px;
  margin-right: 5px;
}

.navLeftHolder {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .titleGraphic {
    height: 35px;
    margin-bottom: 2.5px;
    /* background-color: black; */
  }
  .logo {
    margin-top: auto;
    margin-bottom: 5px;
    height: 30px;
  }

  .navRightHolder {
    width: 200px;
  }
  .navButtonImage {
    height: 20px;
    width: 20px;
  }
  .navbar {
    height: 50px;
  }
  .navButton {
    height: 50px;
    margin-top: 2px;
    /* border: blue solid 1pt; */
  }
}
