.navbar {
  background-color: var(--rich-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.title {
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin: 0px;
}

.button-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: black dotted 2pt;
  width: 300px;
}
