.main {
  justify-self: center;
  margin: 0 auto;
  width: 95%;
  padding-top: 50px;
  /* background-color: aquamarine; */
  padding-right: 20px;
  padding-left: 20px;
}

.flashingBox {
  animation-name: shimmerBox;
  animation-duration: 1s;
}

@keyframes shimmerBox {
  0% {
    /* background-color: var(--standard-panel-colour); */
  }
  20% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  100% {
    /* background-color: var(--standard-panel-colour); */
  }
}

.grid {
  margin-left: auto;
  margin-right: auto;
  /* border: brown dotted 2pt; */
  width: 100%;
  max-width: 1100px;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* z-index: 1; */
}

.box {
  height: 260px;
  min-height: 270px;
  min-width: 440px;
  max-width: 440px;
  margin-top: 45px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  padding: 0px 25px 0px 25px;
  background-color: var(--standard-panel-colour);
  box-shadow: var(--light-shad) var(--light-shad-coords);
  border-radius: 25px;
}

.box4 {
  display: flex;
  flex-direction: row;
  padding: 0px;
  min-width: 490px;
  max-width: 490px;
  border-top: var(--green-shad) solid 1px;
  margin-bottom: 50px;
}

.shapeText {
  font-size: 20px;
  cursor: pointer;
  /* margin-left: 5px;
  margin-right: 5px; */
  margin-top: 10px;
  color: rgba(0, 61, 0, 0.74);
  opacity: 0.4;
  margin-left: -1px;
  font-weight: bold;
  font-family: "Courier New", Courier, Arial, monospace;
}

.shapeHolderOuter {
  border: white solid 1pt;
}

.shapeHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: orangered solid 1pt;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.imageAndText {
  /* border: blue solid 1pt; */
  margin: 0px;
}

.shapeImage {
  height: 75px;
  filter: brightness(5%) invert(100%);
  z-index: 0;
}

.shapeRadio {
  display: none;
  font-size: 100px;
  /* background-color: tomato; */
  position: absolute;
  opacity: 1;
  width: 100px;
  height: 140px;
  margin-left: -25px;
  border: tomato solid 1pt;
}

.shapeRadio + div {
  cursor: pointer;
}

.shapeRadioChecked + div {
  filter: none;
}

.insideLabelToCollectClick {
  /* border: grey dotted 1pt; */
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

.tag {
  background-color: green;
  color: white;
  width: 95px;
  margin-left: auto;
  margin-right: -25px;
  text-align: center;
  border-radius: 0px 25px 0px 25px;
}

.hiddenTag {
  visibility: hidden;
}

.inputBox {
  width: 380px;
  overflow: auto;
  resize: none;
  height: 42.5px;
  font-size: 15px;
  border: green solid 0.5pt;
  border-right: none;
}

.insideBoxTwo {
  margin-top: 10px;
}

.invisibleTextarea {
  z-index: -5;
  width: 0px;
  height: 0px;
  align-self: center;
  justify-self: center;
  position: fixed;
  top: 46%;
}

.threshInputBox {
  width: 17.5px;
  height: 13.5px;
  overflow: hidden;
  resize: none;
  margin-top: 12.5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.includeAtLeast_text {
  margin-top: 14px;
}

.includeAtLeast_box {
  display: flex;
  flex-direction: row;
  /* border: navy dotted 1pt; */
  justify-content: center;
  justify-self: center;
  text-align: center;
}

.inputBoxMand {
  width: 150px;
}

.inputBoxForb {
  width: 150px;
}

.insideBoxTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.boxTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-top: 0px;
}

.boxTitleA {
  margin-bottom: -5px;
}
.boxTitleB {
  margin-bottom: 0px;
}
.boxTitleC {
  margin-bottom: 0px;
  /* font-style: italic; */
}

.resultRightie {
  background-color: rgb(232, 255, 221);
  width: 120px;
  min-width: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultRightieActive {
  background-color: var(--standard-panel-colour);
}

.gridRender {
  font-family: "Courier New", Courier, Arial, monospace;
  font-size: 16px;
  letter-spacing: 8.5pt;
  line-height: 9pt;
  padding-left: 7.5pt;
  padding-right: 0pt;
  font-weight: bold;
}

.indexDisplay {
  font-size: 12pt;
  background-color: rgb(141, 204, 111);
  box-shadow: var(--green-shad) 2px 2px 3px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultLeftie {
  /* border: green solid 1px; */
  width: 100%;
  font-size: 12pt;
  border-radius: 25px 0px 0px 25px;
  border-right: var(--green-shad) solid 1px;
  padding-top: 7.5px;
  padding-bottom: 5px;
  /* background-color: fuchsia; */
}

.resultLeftieInner1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  word-break: break-all;
}

.hor {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 10px;
}

.horMargin1 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.horMargin2 {
  margin-top: 2.5px;
  margin-bottom: 5px;
}

.horMargin3 {
  margin-top: 1px;
  margin-bottom: 2px;
}

.horMargin4 {
  margin-top: 1px;
  margin-bottom: 2px;
  font-size: 15px;
}

.coordName {
  width: 75px;
  min-width: 75px;
  /* border: blue solid 0.5pt; */
  text-align: center;
  margin: 0;
  margin-right: 1px;
  margin-left: 1.5px;
  color: rgb(102, 146, 81);
}

.coordWords {
  /* border: orangered solid 0.5pt; */
  width: 75%;
  text-align: center;
  margin: 0;
  white-space: pre-wrap;
  word-break: keep-all;
}

.resultScroll {
  height: 100%;
  width: 40px;
}

.desiButtonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 6px;
}

.desiButton {
  cursor: pointer;
}

.desiDetectLabel {
  font-size: 11pt;
  cursor: pointer;
}

.centralButtonOval {
  border-radius: 75px;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  left: 51%;
  transform: translate(-50%, 0%);
  margin-top: 272.5px;
  padding: 15px 15px 15px 15px;
}

.centralButton {
  height: 70px;
}

.startStopButton {
  margin-top: -2.5px;
  width: 100%;
  height: 40px;
  background-color: var(--rich-green);
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 9px rgb(0, 122, 0);
  font-weight: bold;
  font-size: 12pt;
  border-radius: 5px 5px 5px 5px;
}

.ready:hover {
  background-color: #3e8e41;
  box-shadow: 0 9px rgb(0, 83, 0);
}

.ready:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.started {
  background-color: palevioletred;
  box-shadow: 0 9px rgb(151, 80, 104);
}

.disabled {
  background-color: grey;
  box-shadow: 0 9px black;
}

.disabled:hover {
  background-color: grey;
  box-shadow: 0 9px black;
}

.disabled:active {
  background-color: grey;
  box-shadow: 0 9px black;
}

.started:hover {
  background-color: palevioletred;
  box-shadow: 0 9px rgb(151, 80, 104);
}

.started:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.scrollButton {
  height: 50%;
  width: 30px;
  font-size: 14pt;
  border: none;
  box-shadow: var(--green-shad) 1px 2px 2.5px;
  border: green solid 1px;
  border-right: none;
  cursor: pointer;
  background-color: rgb(209, 255, 189);
  font-weight: bold;
  color: green;
  padding-left: 4.5px;
}

.scrollButton:hover {
  background-color: rgb(186, 255, 157);
}

.scrollButton:active {
  background-color: rgb(147, 216, 118);
  box-shadow: 0 5px #666;
  /* transform: translateY(4px); */
}

.scrollUp {
  border-radius: 0px 25px 0px 0px;
}

.scrollDown {
  border-radius: 0px 0px 25px 0px;
}

.boxLayerA {
  /* border: orange solid 0.5pt; */
  position: relative;
  top: 15px;
  width: 440px;
  height: 208px;
  z-index: 4;
}

.veiled {
  z-index: -1;
}

.boxLayerC {
  position: relative;
  top: -416px;
  width: 440px;
  height: 208px;
}

.speechBubble {
  height: 150px;
  width: 410px;
  margin-top: 15px;
}

.flipHorizontal {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.speechBubbleTextbox:hover {
  color: green;
}

.speechBubbleTextbox {
  /* border: black solid 1pt; */
  position: relative;
  top: -155px;
  overflow: hidden;
  width: 250px;
  height: 145px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 55px;
}

.speechBubbleText {
  margin: 10px 20px 10px 20px;
  line-height: 22.5px;
}

.boxLayerB {
  position: relative;
  top: -208px;
  width: 440px;
  height: 208px;
  /* margin: yellow solid 1pt; */
  /* background-color: fuchsia; */
}

.crocSep {
  height: 40px;
  z-index: 3;
  margin-top: 90px;
  position: relative;
}

.crocSepL {
  margin-left: -490.5px;
}

.crocSepR {
  margin-left: 440.5px;
}

.tinyIcon {
  height: 13px;
}

.rightieOverlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 5px 5px 5px;
  width: 110px;
  margin-top: 50px;
  height: 180px;
  /* border: black dashed 1pt; */
}

.tinyIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.highlightCircle {
  position: absolute;
  height: 25px;
  width: 25px;
  margin-left: -19px;
  margin-top: -5px;
  opacity: 0.33;
}

.clearButton {
  /* opacity: 0.5; */
  background-color: white;
  border: none;
  margin: 0px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 9px;
  overflow: hidden;
  position: relative;
  height: 47px;
  max-height: 47px;
  border: green solid 0.5px;
  border-left: none;
  margin-top: 0px;
  width: 17.5px;
  padding-left: 2.5px;
  padding-right: 0px;
  cursor: pointer;
  text-align: center;
}

.tinyExitSymbol {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  padding-bottom: 27px;
}

.clearButton:hover {
  background-color: rgb(233, 233, 233);
}

.clearButton:active {
  background-color: gainsboro;
}

.clearButton2 {
  padding: 0px;
  margin: 0px;
  width: 10px;
  height: 48.5px;
  border-radius: 0px 5px 5px 0px;
  background-color: palevioletred;
  border-top: rgb(255, 185, 208) solid 2px;
  border-left: rgb(255, 185, 208) solid 2px;
  border-right: rgb(175, 59, 97) solid 2px;
  border-bottom: rgb(175, 59, 97) solid 2px;
  position: absolute;
}

.clearButton2:active {
  background-color: palevioletred;
  border-right: rgb(255, 185, 208) solid 2px;
  border-bottom: rgb(255, 185, 208) solid 2px;
  border-left: rgb(175, 59, 97) solid 2px;
  border-top: rgb(175, 59, 97) solid 2px;
}

.loadingMessageContainer {
  opacity: 0.5;
  /* border: orange dotted 1pt; */
  margin-bottom: 40px;
  height: 80px;
}

.loadingIcon {
  height: 25px;
}

.loadingIconLarge {
  height: 50px;
}

.loadingText {
  color: darkgreen;
  margin: 0px;
  margin-top: 5px;
  font-size: 14px;
}

/* Slideshow container */
.slideshowContainer {
  margin-left: 15px;
  margin-right: auto;
  margin-top: -15px;
  width: 93.5%;
  height: 155px;
  position: relative;
  overflow: hidden;
}

.slide {
  cursor: pointer;
  /* border: black dotted 1pt; */
  position: absolute;
  transition: 0.25s;
  width: 135px;
  max-width: 140px;
  overflow: hidden;
  height: 97.5%;
  position: absolute;
  /* border-radius: 50px; */
  background-color: rgba(0, 0, 0, 0.01);
}

.slide:hover {
  background-color: rgba(0, 189, 9, 0.2);
}

/* #s0,
#s3,
#s6 {
  background-color: rgba(0, 0, 0, 0.02);
}

#s1,
#s4,
#s7 {
  background-color: rgba(0, 0, 0, 0.01);
}
#s2,
#s5,
#s8 {
  background-color: rgba(0, 0, 0, 0.015);
} */

.carouselItemA {
  margin-left: 0px;
}

.carouselItemB {
  margin-left: 137.5px;
}

.carouselItemC {
  margin-left: 275px;
}

.carouselItemOffRight {
  margin-left: 412.5px;
}

.carouselItemOffLeft {
  margin-left: -137.5px;
}

.carouselItemHidden {
  display: none;
}

.carouselItemHiddenDeep {
  display: none;
}

.slideLabel {
  background-color: blue;
}

.slideImage {
  width: 50%;
  /* height: 70px;
  height: 75px; */
  filter: none;
  z-index: 0;
  /* margin-top: 25px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.gridImageHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 0px; */
  /* border: white dotted 2pt; */
  height: 60%;
  /* max-height: 80px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center; */
  padding-top: 10px;
}

.grayedOut {
  filter: brightness(5%) invert(100%);
}

/* Next & previous buttons */
.slidePrev,
.slideNext {
  /* background-color: thistle; */
  cursor: pointer;
  position: absolute;
  top: 90px;
  width: 16px;
  height: 141px;
  margin-top: -52px;
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slidePrev {
  left: -20px;
  padding-left: 7.5px;
}

/* Position the "next button" to the right */
.slideNext {
  right: -20px;
  /* padding-left: 12px; */
  padding-right: 7.5px;
}

/* On hover, add a black background color with a little bit see-through */
.slidePrev:hover,
.slideNext:hover {
  background-color: var(--green-shad);
}

.fadedLogo {
  height: 100px;
  opacity: 0.025;
  filter: blur(0.5px);
  margin-top: 62.5px;
  margin-left: 30px;
}

.desiInstructionsText {
  margin-top: 16px;
}

/* ipad
@media only screen and (min-device-width: 568px) and (max-device-width: 1024px) {
  .box {
    background-color: fuchsia;
  }
} */

/* phone */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .box {
    /* width: 400px;
    min-width: 400px; */
  }

  .grid {
    width: 450px;
  }

  .main {
    width: 450px;
  }

  .boxLayerB {
    /* display: none; */
  }

  .crocSep {
    opacity: 0.5;
  }

  .crocSepL {
    margin-left: -435.5px;
  }

  .crocSepR {
    margin-left: 412px;
  }

  .inputBox {
    font-size: 17px;
    width: 145px;
  }

  .inputBoxDesi {
    width: 335px;
  }

  .box2,
  .box3 {
    font-size: 19px;
  }

  .desiDetectLabel {
    font-size: 17px;
  }

  .boxTitle {
    font-size: 22px;
    margin-top: -5px;
  }

  .includeAtLeast_text {
    font-size: 17px;
    margin-top: 11px;
  }

  .desiInstructionsText {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .threshInputBox {
    height: 17px;
    width: 25px;
    font-size: 17px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    text-align: center;
    margin-top: 10px;
  }

  .resultRightie {
    width: 165px;
  }
  .resultScroll {
    width: 85px;
  }
  .scrollButton {
    width: 75px;
  }

  .shapeText {
    font-size: 30px;
  }

  .slidePrev,
  .slideNext {
    margin-top: -47.5px;
  }

  .mandInstructions {
    margin-top: 12px;
    margin-bottom: 0px;
  }

  .tinyIcon {
    height: 17px;
  }

  .highlightCircle {
    margin-left: -21px;
    margin-top: -4px;
  }
}
