<div class="main" (window:resize)="onResize($event)">
  <!-- <button class="centralButton">MAKE GRIDS</button> -->
  <!-- <div class="centralButtonOval">
    <img class="centralButton" src="../../assets/croc-button4.png" />
  </div> -->
  <div
    style="
      position: fixed;
      z-index: 5;
      margin-top: -50px;
      background-color: hotpink;
      text-align: center;
      width: 100px;
      height: 25px;
    "
  >
    {{ this.timeOfBuild }}
  </div>
  <button
    (click)="devEvent()"
    style="position: fixed; z-index: 5; margin-top: -30px;"
  >
    DEV EVENT
  </button>
  <button
    (click)="socketToLocalHost()"
    style="position: fixed; z-index: 5; margin-top: -10px;"
  >
    SOCKET LOCAL
  </button>
  <form class="grid" [formGroup]="makeCrosswordForm" (ngSubmit)="devEvent()">
    <div *ngIf="!onlyShowResultBox" class="box box1" id="box1">
      <div class="tag hiddenTag">required</div>
      <p class="boxTitle boxTitleA">Grid Shape</p>
      <img class="crocSepLeft upMargin" src="../../assets/croc-silh-g-m.png" />
      <br />
      <br />
      <form formGroupName="shape">
        <div class="shapeHolder">
          <div class="imageAndText">
            <label>
              <input
                class="shapeRadio"
                type="radio"
                value="5x5"
                formControlName="shapeName"
                (click)="formChanged()"
              />
              <img class="shapeImage" src="../../assets/Crossword 5x5.png" />
              <p class="shapeText">Six 5-letter words</p>
            </label>
          </div>
          <div class="imageAndText">
            <label>
              <input
                class="shapeRadio"
                type="radio"
                value="7x5"
                formControlName="shapeName"
                (click)="formChanged()"
              />

              <img class="shapeImage" src="../../assets/Crossword 7x5.png" />
              <p class="shapeText">
                Three 7-letter words<br />Four 5-letter words
              </p>
            </label>
          </div>
          <div class="imageAndText">
            <label>
              <input
                class="shapeRadio"
                type="radio"
                value="9x5"
                formControlName="shapeName"
                (click)="formChanged()"
              />
              <img class="shapeImage" src="../../assets/Crossword 9x5.png" />
              <p class="shapeText">
                Three 9-letter words<br />Five 5-letter words
              </p>
            </label>
          </div>
        </div>
      </form>
      <!-- <img class="crocBorder1" src="../../assets/croc-silh-3.png" /> -->
    </div>

    <div *ngIf="!onlyShowResultBox" class="box box2" id="box2">
      <div class="tag">optional</div>
      <p class="boxTitle boxTitleB">
        Mandatory or Forbidden Words
      </p>
      <img class="crocSepRight" src="../../assets/croc-silh-g.png" />
      <div class="insideBoxTwo">
        <label>
          <p>
            Each grid must include:
          </p>
          <textarea
            class="inputBox inputBoxMand"
            placeholder="eg Santa claus"
            formControlName="mandatory_words"
            (keypress)="formChanged()"
          ></textarea>
        </label>
        <label>
          <p>
            Each grid must exclude:
          </p>
          <textarea
            class="inputBox inputBoxForb"
            formControlName="banned_words"
            placeholder="eg miffs fiats"
            (keypress)="formChanged()"
          ></textarea>
        </label>
      </div>
      <br />
      Separate your words with a space, capitalisation is ignored.
      <br />
      TIP: Best results with no more than three mandatory words.
      <br />
      TIP: Your mandatory words should all be the same length.
    </div>

    <div *ngIf="!onlyShowResultBox" class="box box3" id="box3">
      <div class="tag">optional</div>
      <p class="boxTitle boxTitleC">Desirable Words</p>
      <img class="crocSepLeft" src="../../assets/croc-silh-g-m.png" />
      <p>
        Say, a large bank of words you've already made clues for.
        <br />
        Best results when minimum isn't set higher than three.
      </p>
      <textarea
        formControlName="desi"
        class="inputBox inputBoxDesi"
        placeholder="{{ desiPlaceholderText }}"
        (keypress)="formChanged()"
      ></textarea>
      <div class="desiButtonHolder">
        <div>
          <input
            class="desiButton"
            checked
            type="radio"
            formControlName="desiSeparator"
            id="space"
            value=" "
            (click)="updateDesiPlaceholderText('space')"
            (click)="formChanged()"
          />
          <label for="space" class="desiDetectLabel">
            Detect words by space</label
          >
        </div>
        <div>
          <input
            class="desiButton"
            type="radio"
            formControlName="desiSeparator"
            id="marks"
            value='"'
            (click)="updateDesiPlaceholderText('marks')"
            (click)="formChanged()"
          />
          <label for="marks" class="desiDetectLabel">
            Detect words by speechmarks</label
          >
        </div>
      </div>

      <div class="includeAtLeast_box">
        <p class="includeAtLeast_text">
          Include at least
        </p>

        <textarea
          class="threshInputBox"
          placeholder="0"
          maxlength="2"
          formControlName="threshold"
          (keypress)="formChanged()"
        ></textarea>
        <p class="includeAtLeast_text">
          of these words
        </p>
      </div>
    </div>

    <div class="box box4" id="box4">
      <div class="resultLeftie">
        <div *ngIf="results.length" class="resultLeftieInner1">
          <div *ngFor="let coordArr of results[resultsIndex].grid" class="hor">
            <p class="coordName">{{ coordArr[0] | formatCoord }}</p>
            <p class="coordWords">{{ coordArr[1] | spaceArray }}</p>
          </div>
        </div>
      </div>
      <div
        class="resultRightie"
        [class.resultRightieActive]="serverIsIndeedWorking.value"
      >
        <button
          class="startStopButton"
          [class.started]="startButtonActive.value"
          type="button"
          (click)="startButtonActive.value && socketStop()"
          (click)="!startButtonActive.value && socketEmit()"
        >
          {{ startButtonActive.value ? "STOP" : "MAKE GRIDS" }}
        </button>

        <p *ngIf="results.length" class="gridRender">
          {{ results[resultsIndex].summary[0] }}
          <br />
          <br />
          {{ results[resultsIndex].summary[1] }}
          <br />
          <br />
          {{ results[resultsIndex].summary[2] }}
        </p>

        <div class="indexDisplay">
          {{ results.length ? resultsIndex + 1 + " of " + results.length : "" }}
        </div>
      </div>

      <div class="resultScroll">
        <button
          type="button"
          class="scrollButton scrollUp"
          (click)="changeResultsIndex('up')"
        >
          ▲
        </button>
        <button
          type="button"
          class="scrollButton scrollDown"
          (click)="changeResultsIndex('down')"
        >
          ▼
        </button>
      </div>
    </div>
  </form>
</div>
