<div class="main">
  <div class="grid">
    <form [formGroup]="makeCrosswordForm" (ngSubmit)="onSubmit()">
      <div class="box box1">
        <div class="tag">required</div>
        <p class="boxTitle">Choose Shape</p>
        <br />
        <br />
        <form formGroupName="shape">
          <div class="shapeHolder">
            <div class="imageAndText">
              <label>
                <input
                  checked
                  class="shapeRadio"
                  type="radio"
                  value="5x5"
                  formControlName="shapeName"
                />
                <img class="shapeImage" src="../../assets/Crossword 5x5.png" />
                <p class="shapeText">Six 5-letter words</p>
              </label>
            </div>
            <div class="imageAndText">
              <label>
                <input
                  class="shapeRadio"
                  type="radio"
                  value="7x5"
                  formControlName="shapeName"
                />

                <img class="shapeImage" src="../../assets/Crossword 7x5.png" />
                <p class="shapeText">
                  Three 7-letter words<br />Four 5-letter words
                </p>
              </label>
            </div>
            <div class="imageAndText">
              <label>
                <input
                  class="shapeRadio"
                  type="radio"
                  value="9x5"
                  formControlName="shapeName"
                />
                <img class="shapeImage" src="../../assets/Crossword 9x5.png" />
                <p class="shapeText">
                  Three 9-letter words<br />Five 5-letter words
                </p>
              </label>
            </div>
          </div>
        </form>
      </div>

      <div class="box box2">
        <div class="tag">optional</div>
        <p class="boxTitle">Mandatory or Forbidden Words</p>
        <div class="insideBoxTwo">
          <label>
            <p>
              Each grid must include:
            </p>
            <textarea
              class="inputBox inputBoxMand"
              placeholder="eg Santa claus"
              formControlName="mand"
            ></textarea>
          </label>
          <label>
            <p>
              All grids must exclude:
            </p>
            <textarea
              class="inputBox inputBoxForb"
              formControlName="forb"
              placeholder="eg miffs fiats"
            ></textarea>
          </label>
        </div>
        <br />
        Please separate your words with a space, capitalisation is ignored.
        <br />
        <br />
        Tip: It's best to put no more than about three mandatory words.
      </div>

      <div class="box box3">
        <div class="tag">optional</div>
        <p class="boxTitle">Desirable Words</p>
        <p>
          Perhaps a large bank of words you've already come up with clues for.
          <br />
          <br />
          Tip: It's best when this number isn't set higher than around three.
        </p>
        <textarea
          formControlName="desi"
          class="inputBox inputBoxDesi"
          placeholder='eg "PARTS" strap over bits. "RESET" Changed trees eg parts reset'
        ></textarea>
        <div class="desiButtonHolder">
          <input
            checked
            type="radio"
            name="desiDetect"
            id="space"
            value="space"
          />
          <label for="space"> Detect words by space</label>
          <input type="radio" name="desiDetect" id="marks" value="marks" />
          <label for="marks"> Detect words by speechmarks</label>
        </div>

        <div class="includeAtLeast_box">
          <p class="includeAtLeast_text">
            Include at least
          </p>

          <textarea
            class="threshInputBox"
            placeholder="0"
            maxlength="2"
          ></textarea>
          <p class="includeAtLeast_text">
            of these words
          </p>
        </div>
      </div>
      <button type="submit" class="goButton">Go!</button>
    </form>

    <div class="box box4">
      <div class="resultBox">
        <div class="resultLeft">
          <p class="gridRender">
            WAWAWAWAM
            <br />
            A A A A A
            <br />
            WAWAWAWAM
            <br />
            A A A A A
            <br />
            WAWAWAWAM
          </p>
        </div>
        <div class="ngForCoordArr">
          <ng-container *ngFor="let coordArr of results">
            <div class="hor">
              <p class="coordName">{{ coordArr[0] }}</p>
              <p class="coordWords">{{ coordArr[1] }}</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
