.main {
  justify-self: center;
  margin: 0 auto;
  width: 95%;
  padding-top: 50px;
  background-color: aquamarine;
  padding-right: 20px;
  padding-left: 20px;
}

.grid {
  border: brown dotted 2pt;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  height: 250px;
  width: 550px;
  min-height: 200px;
  min-width: 400px;
  border: black solid 1pt;
  margin-top: 50px;
  margin-right: 0;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.shapeHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.shapeImage {
  height: 75px;
  filter: brightness(5%) invert(100%);
  z-index: 0;
}

.shapeRadio {
  position: relative;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.shapeRadio + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.shapeRadio:checked + img {
  filter: none;
}

p {
  text-align: center;
}

.tag {
  background-color: fuchsia;
  width: 75px;
  margin-left: auto;
  margin-right: 0px;
  text-align: center;
}

.inputBox {
  /* margin-left: auto;
  margin-right: 0px; */
  /* display: block; */
  width: 400px;
  overflow: auto;
  resize: none;
  height: 42.5px;
}

.threshInputBox {
  width: 17.5px;
  height: 12.5px;
  overflow: hidden;
  resize: none;
  /* display: inline-block; */
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.includeAtLeast_text {
}

.includeAtLeast_box {
  display: flex;
  flex-direction: row;
  /* border: navy dotted 1pt; */
  /* width: max-content; */
  justify-content: center;
  justify-self: center;
  text-align: center;
}

.goButton {
  width: 120px;
  background-color: lightgreen;
}

.inputBoxMand {
  width: 150px;
}

.inputBoxForb {
  width: 150px;
}

.insideBoxTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.boxTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.resultBox {
  background-color: white;
  margin: 15px 0px 15px 0px;
  height: 225px;
  display: flex;
  flex-direction: row;
}

.resultRightie {
  background-color: lightcyan;
  width: 175px;
  min-width: 125px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gridRender {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  letter-spacing: 8.5pt;
  line-height: 9pt;
  padding-left: 10pt;
  padding-right: 5pt;
  /* margin-top: 25pt; */
}

.indexDisplay {
  color: darkblue;
  font-size: 12pt;
  background-color: lightblue;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startStopButton {
  width: 100%;
  height: 40px;
  background-color: palegreen;
}

.started {
  background-color: palevioletred;
}

.resultLeftie {
  background-color: lightgoldenrodyellow;
  width: 100%;
  text-align: left;
  font-size: 12pt;
  overflow: auto;
  word-break: break-all;
}

.resultLeftieInner1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hor {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.coordName {
  width: 80px;
  /* border: blue solid 0.5pt; */
  text-align: left;
  margin: 0;
  margin-right: 5%;
  margin-left: 5%;
}

.coordWords {
  /* border: orangered solid 0.5pt; */
  width: 70%;
  text-align: left;
  margin: 0;
  white-space: pre-wrap;
  word-break: keep-all;
}

.resultScroll {
  height: 100%;
  width: 40px;
  background-color: blueviolet;
}

.scrollButton {
  height: 50%;
  width: 100%;
  font-size: 14pt;
}

.desiButtonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
