.basicContainer {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.basicImage {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 125px;
}

.main {
  justify-self: center;
  margin: 0 auto;
  width: 95%;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1100px;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .grid {
    width: 450px;
  }

  .main {
    width: 450px;
  }
}
