:root {
  --green-shad: rgba(21, 107, 0, 0.5);
  --light-shad: rgba(21, 107, 0, 1);
  --light-shad-coords: 0px 2px 5px;
  --standard-panel-colour: rgba(238, 255, 230, 0.5);
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
  background-image: url(./assets/water-tile2.png);
  background-size: 250px;
  /* background-image: url(../images/tile-starsBW.png); */
  /* background-size: 500px; */
  background-repeat: repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
}

.shroud {
  z-index: -2;
  background-color: rgba(158, 255, 109);
  height: 100%;
  width: 100%;
  position: fixed;
}

.content {
  position: relative;
}

.upMargin {
  margin-bottom: -90px;
}
